<div class="full_row">
  <div class="login_logo">
    <h2 class="logo_header">Welcome to <span>M.A.R.S.</span></h2>
    <h3 class="logo_sub_header">Marketing Asset Request System</h3>
  </div>
</div>
<div class="full_row no_top">
    <%= render :partial => 'admin_sessions/form' %>
</div>

<% content_for :javascripts do %> 
	<script>
    $(function() {
      Base.pageResize();
    });
	</script>
<% end %>