<div class="body_header">
  <p>Postcards</p>
  <div class="grey_block_internal"></div>
</div>
<% @postcards.each do |pc| %>
  <ul class="secondary_level_internal">
    <li>
    <%= image_tag('../images/post_8x5landscape.png') %>
    <h3><%= pc.title %></h3>
    <p>
      <%= pc.description %>
    </p>
    <%= link_to "Build", pc.url, :class => "button_sm orange_button" %>
    </li>
  </ul>
<% end %>