<% content_for :banner do %>
  <div id="banner" class="full_row index_banner">
    <h2>
      <span class="banner_black">Landing</span><br />
      <span class="banner_blue">Pages</span>
    </h2>  	
    <p class="banner">Marketing landing pages and webinars</p>
  </div>
<% end %>
<div class="body_header">
  <p>Landing Page Ads</p>
  <div class="grey_block"></div>
</div>










<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      Base.indexBanners();
    });
  </script>
<% end %>