<% content_for :banner do %>
  <div id="banner" class="full_row print_banner">
    <h2>
      <span class="banner_black">Print</span><br />
      <span class="banner_blue">Collateral</span>
    </h2>  	
    <p class="banner">Print ads, postcards, mailers &#38; more.</p>
  </div>
<% end %>
<div class="body_header">
  <p>Print Collateral</p>
  <div class="grey_block"></div>
</div>










<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      Base.indexBanners();
    });
  </script>
<% end %>