<% content_for :banner do %>
  <div id="banner" class="full_row index_banner">
    <h2>
      <span class="banner_black">Signs &#38;</span><br />
      <span class="banner_blue">Displays</span>
    </h2>  	
    <p class="banner">Convention and trade shows - signs &#38; displays</p>
  </div>
<% end %>
<div class="body_header">
  <p>Signs &#38; Display Layouts</p>
  <div class="grey_block"></div>
</div>










<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      Base.indexBanners();
    });
  </script>
<% end %>