<% content_for :banner do %>
  <div id="banner" class="full_row website_banner">
    <h2>
      <span class="banner_black">Website</span><br />
      <span class="banner_blue">Content</span>
    </h2>  	
    <p class="banner">Website content change requests</p>
  </div>
<% end %>
<div class="body_header">
  <p>Website Updates</p>
  <div class="grey_block"></div>
</div>










<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      Base.indexBanners();
    });
  </script>
<% end %>