<div class="footer">
	<div class="full_row">
	  <div class="va_footer_logo"></div>
	  <%= render :partial => 'layouts/footer_nav' %>
	  <div class="full_row">
	    <div class="footer_text_left">
	      <p>Verisk Health - 10897 S. River Front Parkway, Suite 200, South Jordan, UT, 84095, US</p>
	      <p>Verisk Health is part of the Verisk Analytics Family of Companies.<br />
          © 2012 by Verisk Health, Inc. All rights reserved.</p>
      </div>
      <div class="footer_text_right">
        <p>Verisk Health is a leading provider of data analytics, risk assessment, payment accuracy and revenue integrity solutions to the healthcare industry. Payors, employers and providers leverage our technology and expertise to gain a deeper understanding of their financial and clinical risk, their revenue management opportunities and how to better detect and prevent fraud, waste and abuse. As a result, our solutions contain costs and improve the healthcare outcomes of individuals and populations.</p>
      </div>
      </div>
	  </div>
</div>